mat-card {
  margin: 20px;
}

h2 {
  color: green;
  font-size: 35px;
}

.trend-down {
  color: red;
}

.trend-transform {
  transform: scale(1, -1);
}

.trend-direction {
  width: 60px;
  height: 60px;
  top: 30%;
  right: 10%;
  position: absolute;
}

#upTrend {
  fill: green;
}

#downTrend {
  fill: red;
}

.currency-block {
  width: 200px;
  span {
    color: gray;
  }
}
