<mat-toolbar>
    <span>Currency metrics</span>
</mat-toolbar>

<div class="content-wrapper" *ngIf="currentUSDCurrency && prevUSDCurrency">
  <app-currency-card [currencyTitle]="'USD/UAH'"
                     [currentCurrency]="currentUSDCurrency" 
                     [prevCurrency]="prevUSDCurrency" 
                     [currencyDate]="currentDate"></app-currency-card>
  <app-currency-card [currencyTitle]="'UAH/USD'" 
                     [currentCurrency]="currentUAHCurrency" 
                     [prevCurrency]="prevUAHCurrency" 
                     [currencyDate]="currentDate"></app-currency-card>
</div>
