.content-wrapper {
    background: bisque;
    height: 100%;
    app-currency-card {
        width: 100%;
    }
}
  .mat-toolbar {
    background: black;
}

app-loader {
    position: absolute;
    left: 45%;
    top: 45%;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}