.content-wrapper {
    padding: 5px;
    app-currency-card {
        width: 100%;
    }
}
  .mat-toolbar {
    background: black;
}

app-loader {
    position: absolute;
    left: 45%;
    top: 45%;
}