<div class="content-wrapper">
  <app-loader
    *ngIf="apiService.isApplicationOnline && isLoadingContent"
  ></app-loader>
  <ng-container *ngIf="currentUAHCurrency && !isLoadingContent">
    <app-currency-card
      [currencyTitle]="'UAH/EUR'"
      [currentCurrency]="currentEURUAHCurrency"
      [prevCurrency]="prevEURUAHCurrency"
      [currencyDate]="currentDate"
    >
    </app-currency-card>
    <app-currency-card
      [currencyTitle]="'EUR/UAH'"
      [currentCurrency]="currentEURCurrency"
      [prevCurrency]="prevEURCurrency"
      [currencyDate]="currentDate"
    >
    </app-currency-card>
    <app-currency-card
      [currencyTitle]="'UAH/USD'"
      [currentCurrency]="currentUAHCurrency"
      [prevCurrency]="prevUAHCurrency"
      [currencyDate]="currentDate"
    >
    </app-currency-card>
    <app-currency-card
      [currencyTitle]="'USD/UAH'"
      [currentCurrency]="currentUSDCurrency"
      [prevCurrency]="prevUSDCurrency"
      [currencyDate]="currentDate"
    >
    </app-currency-card>
  </ng-container>
</div>
