p {
  color: white;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  
  app-loader {
    position: absolute;
    left: 45%;
    top: 45%;
  }
}

table {
  margin: 20px;
  position: relative;
  min-width: 90%;
}
