  .content-wrapper {
    display: flex;
    justify-content: center;
    form {
      width: 420px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      input {
        color: black;
      }
      mat-button-toggle-group {
        background-color: #424242;
        width: 176px;
      }
      mat-form-field {
        padding: 20px;
      }
    }
  }
  